git+https://github.com/mkdocs/mkdocs@master
mkdocs-material
git+https://github.com/oprypin/mkdocs-autorefs@inv
git+https://github.com/oprypin/mkdocstrings-crystal@inv
git+https://github.com/oprypin/mkdocs-literate-nav@master
git+https://github.com/oprypin/mkdocs-section-index@master
git+https://github.com/oprypin/mkdocs-gen-files@master
